.page {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1em;
    grid-auto-rows: minmax(100px, auto);
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
  }
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 70%;
    height: 90%;
    margin-top: 10%;
    margin-left: 10%;
  }

  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  .card__img {
    width: 100%;
    height: 75%;
    object-fit: fill;
  }
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }
  .card p{
    font-size: large;
  }
  .card h2{
    padding-top: 5%;
    padding-bottom: 2%;
  }

  @media (max-width:391px) {
    .page {
        display: grid;
        grid-template-columns: auto ;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 60%;
      }
    .card {
        /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        width: 80%;
        height: 95%;
        margin-top: 10%;
        margin-bottom: 20%;
      }
    
      /* On mouse-over, add a deeper shadow */
      .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      }
      .card__img {
        width: 100%;
        height: 63%;
        object-fit: fill;
      }
      /* Add some padding inside the card container */
      .container {
        padding: 5px 16px;
      }
      
  }