.user-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
    background-color: #f5f5f5;
    margin-bottom: 200px;
  }
  
  .user-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 25%;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding-bottom: 5%;
  }
  
  .user-image {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .user-image img {
    width: 80%;
    height: auto;
    border-radius: 50%;
  }
  
  .user-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30%;
    padding: 1rem;
  }
  
  .user-name {
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
  }
  
  .user-rating {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
  }
  
  .rating-number {
    margin-right: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .star-rating {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #f0c045;
  }
  
  .star-rating i {
    margin-right: 0.2rem;
  }
  
  .user-comment {
    margin-top: 1rem;
    text-align: center;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    font-size: 0.9rem;
    height: 40px;
    line-height: 1.2;
  }
  